@host {
   :scope {
      /* fit to container */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      /* layout content using flexbox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-flow: column;
      -ms-flex-direction: column;
      flex-direction: column;

      /* convenient defaults */
      font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      background-color: #f2f2f2;
    }
 }

[hidden] {
  visibility: hidden;
}

polymer-ui-scaffold#panels {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

[main] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
}

polymer-ui-toolbar.re-style-blue {
      background: #427fed none;
      color: #fff;
}
polymer-ui-toolbar {
  padding-left: 16px;
}

/* Overlay */

polymer-ui-overlay > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
  background: white;
  padding:30px 42px;
  outline: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

#backdrop {
  visibility: visible;
}