@host {
  :scope {
    width: 300px;
    border-right: 1px solid #CCC;
    overflow: hidden;
  }
}

h2 {
  margin: 0;
  font-size: 18px;
  padding: 10px 0;
  color: #333;
}

#fridge > header {
  margin: 0 8px;
  padding: 6px 0 6px 8px;
  border-bottom: 1px solid #CCC;
}

#search {
  background-color: #f2f2f2;
}

.ingredient-list {
  overflow: scroll;
  padding: 16px;
}